django
djangorestframework
gunicorn
whitenoise
Pillow
numpy
opencv-python-headless==4.5.3.56
pytesseract
arabic-reshaper
python-bidi
psycopg2-binary
django-cors-headers
dj-database-url
python-dotenv
tqdm
requests